// @import 'node_modules/roboto-fontface/css/roboto/sass/roboto-fontface.scss';
@import 'variables';
@import 'node_modules/mathsass/dist/_math.scss';

$sqrt: 10px;
$lght: 50/30 * $sqrt; // 30px - 50px
$area: 160/30 * $sqrt;  // 30px - 160px

button {
    position: relative;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 1;
}

.container {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    .container-item__header {
        margin: 40px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .container-item__header-logo {
            .logo {
                .logo-animated {
                    width: $area;
                    height: $area;
                    display: flex;
                    
                    cursor: pointer;
                    position: relative;
                    margin: 10px auto;
                    .sq {
                        width: $sqrt * 2;
                        height: $sqrt * 2;
                        background: $color-theme-2;
                        position: absolute;
                        left: $lght;
                        top: $lght;
                    }
                    .s1 {
                        display: inline-block;
                        border-left: $sqrt solid transparent;
                        border-right: $sqrt solid transparent;
                        border-top: 0 solid transparent;
                        border-bottom: $lght solid $color-theme-2;
                        position: absolute;
                        left: $lght;
                        @include transform(translateY(-10px));
                        @include transform-origin(50% 100%);
                        @include transition (all 1s ease-in-out);
                        top: 0;
                    }
                    .s2 {
                        display: inline-block;
                        border-left: $sqrt solid transparent;
                        border-right: $sqrt solid transparent;
                        border-top: $lght solid $color-theme-2;
                        border-bottom: 0 solid transparent;
                        position: absolute;
                        bottom: 0;
                        @include transform( translateY(10px) );
                        @include transform-origin( 50% 0 );
                        @include transition ( all 1s ease-in-out );
                        left: $lght;
                    }
                    .s3 {
                        display: inline-block;
                        border-left: 0 solid transparent;
                        border-right: $lght solid $color-theme-2;
                        border-top: $sqrt solid transparent;
                        border-bottom: $sqrt solid transparent;
                        position: absolute;
                        left: 0;
                        top: $lght;
                        @include transform( translateX(-10px) );
                        @include transform-origin( 100% 50% );
                        @include transition ( all 1s ease-in-out );
                    }
                    .s4 {
                        display: inline-block;
                        border-left: $lght solid $color-theme-2;
                        border-right: 0 solid transparent;
                        border-top: $sqrt solid transparent;
                        border-bottom: $sqrt solid transparent;
                        position: absolute;
                        right: 0;
                        top: $lght;
                        @include transform( translateX(10px) );
                        @include transform-origin( 0 50% );
                        @include transition ( all 1s ease-in-out );
                    }
                    .text {
                        font-family: Helvetica, sans-serif;
                        position: absolute;
                        left: 250%;
                        color: $color-theme-3;
                        text-transform: uppercase;
                        font-size: 1.2em;
                        letter-spacing: 6px;
                        bottom: 20px;
                        opacity:0;
                        font-weight: 100;
                        @include transform( translateX(-50%) );
                        @include transition ( all 100ms linear );
                    }
                    .perspective {
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        perspective: 300px;
                        position: absolute;
                        left: 50%;
                        width: $area;
                        height: $area;
                        @include transform-origin( center );
                        @include transform(rotateX(0deg));
                        @include transition ( all 1s ease-in-out );
                    }
                    &:hover {
                        .perspective {
                            @include transform( rotateX(60deg) rotate(45deg) );
                            .s1 {
                                @include transform( translateX(0) rotateX(-126.87deg) );
                            }
                            .s2 {
                                @include transform( translateX(0) rotateX(126.87deg) );
                            }
                            .s3 {
                                @include transform( translateX(0) rotateY(126.87deg) );
                            }
                            .s4 {
                                @include transform( translateX(0) rotateY(-126.87deg) );
                                border-left: $lght solid $color-theme-3;
                            }
                        }
                    .text {
                        opacity: 1;
                        @include transition ( all 500ms linear 500ms );
                        }
                    }
                }
            }
        }
        .container-item__header-add-card {
            background-color: $color-theme-2;
            border: 1px solid $color-theme-1;
            border-radius: 50px;
            height: 40px;
            width: 100px;
            &:hover {
                animation: rotate 0.7s ease-in-out both;
                span {
                    animation: storm 0.7s ease-in-out both;
                    animation-delay: 0.06s;
                }
            }
            span {
                color: $color-theme-1;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.7px;
            }
        }
    }
    .container-item__board {
        .container-item__board-space {
            margin: auto;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            border: 1px solid $color-theme-1;
            border-radius: 2px;
        }
        
    }
    .container-item__modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding: 50px 0 0 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        .container-item__modal-content {
            position: relative;
            background-color: #ffffff;
            margin: auto;
            padding: 20px;
            border: 1px solid $color-theme-1;
            .container-item__modal-close {
                color: $color-theme-1;
                position: absolute;
                top: 3px;
                right: 7px;
                font-size: 28px;
                cursor: pointer;
                font-weight: bold;
                &:hover,
                &:focus {
                    color: $color-theme-3;
                    text-decoration: none;
                }
            }
            .container-item__modal-form {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                margin: 10px 0 0 0;
                .doctor-select-field, .patient-info-field {
                    margin: 0 0 10px 0;
                }
                input, textarea {
                    box-sizing: border-box;
                }
                * {
                    font-family: 'Roboto', sans-serif;
                    width: 100%;
                }
                .patient-info-field {
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;
                    input {
                        margin: 0 0 5px 0;
                        padding: 0 5px;
                    }
                }
                .container-item__modal-form-textarea {
                    margin: 0 0 15px 0;
                    padding: 0 5px  ;
                }
                .container-item__modal-form-submit {
                    background-color: $color-theme-2;
                    border: 1px solid $color-theme-1;
                    border-radius: 10px;
                    height: 20px;
                    width: 100px;
                    font-size: 12px;
                    font-weight: 300;
                    align-self: flex-end;
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}
.container-item__board-space {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .empty-state-wrapper {
        align-self: center;
        margin: 0 auto;
        display: block;
    }
}
.card-wrapper{
    margin: 5px;
    position: relative;
    width: 23%;
    cursor: move;
    .card-item {
        position: relative;
        border: 1px solid $color-theme-1;
        height: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &_btn{
            position: inherit;
            border-radius: 3px;
            margin: 3px;
            border-style: none;
            &:hover {
                background-color: white;
            }
        }
        &_btn-delete{
            position: inherit;
            background-color: lightcoral;
            border: 1px solid lightcoral;
            align-self: flex-end;
        }
        &_btn-show-more{
            position: inherit;
            font-size: 12px;
            background-color: $color-theme-2;
            border: 1px solid $color-theme-2;
            margin-top: 5px;
        }
        &_text-field{
            position: inherit;
            padding-left: 5px;
            padding-bottom: 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &.draggable {
        * {
            z-index: -10; /* z-index required for Drag'n'Drop ;*/
        }
    }
}



/* The Modal (background) */
.show-more-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-card-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;

    label {
        font-size: 12px;
        color: #00458B;
    }
    input {
        display: block;
        margin-bottom: 10px;
        width: 80%;
    }
    .doctor-type {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .btn-update-card {
        border-radius: 3px;
        background-color: #99ddff;
    }
}

/* The Close Button */
.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.doc-cardiologist {
    display: none;
}
.doc-therapist {
    display: none;
}
.doc-dentist {
    display: none;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
@keyframes storm {
    0% {
        transform: translate3d( 0, 0, 0) translateZ(0)
    }
    25% {
        transform: translate3d( 4px, 0, 0) translateZ(0)
    }
    50%{
        transform: translate3d( -3px, 0, 0) translateZ(0)
    }
    75%{
        transform: translate3d( 2px, 0, 0) translateZ(0)
    }
    100%{
        transform: translate3d( 0, 0, 0) translateZ(0)
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
        .container-item__modal {
            .container-item__modal-content {
                width: 70%;
            }
        }
        .container-item__board {
            .container-item__board-space {
                min-height: 200px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 80%;
        .container-item__modal {
            .container-item__modal-content {
                width: 50%;
            }
        }
        .container-item__board {
            .container-item__board-space {
                min-height: 300px;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
        .container-item__modal {
            .container-item__modal-content {
                width: 40%;
            }
        }
        .container-item__board {
            .container-item__board-space {
                min-height: 400px;
            }
        }
    }
}
